extends ./layout.jade

block scripts
  script.
    var startRoom = function(field_id) {
      var element = (field_id) ? document.getElementById(field_id) : 'room_name';
      var room = con.createRoom(element.value);
    }

    var joinRoom = function(room_code, player_name) {
      var nameElement = (player_name) ? document.getElementById(player_name) : 'player_name';
      var roomElement = (room_code) ? document.getElementById(room_code) : 'room_code';
      var room = con.joinRoom(nameElement.value, roomElement.value);
    }

block content
  .container

    h1(class='text-center') Xentha
    div(class='panel panel-default')
      div(class='panel-heading') Create or join game
      div(class='panel-body')
        div(class='input-group')
          input(
            type='text'
            id='room_name'
            name='room_name'
            placeholder='room name'
            class='form-control'
          )
          span(class='input-group-btn')
            button(type='button' name='create' class='btn btn-secondary btn-success' onclick="startRoom('room_name');") create room.
        div(class='row' style='margin-top: 2em;')
          div(class='col-lg-6 col-md-6 col-sm-6  col-xs-6' style='padding-right: 0;')
            div(class='')
              input(
                type='text'
                id='player_name'
                name='player_name'
                placeholder='name'
                class='form-control'
              )
          div(class='col-lg-6 col-md-6 col-sm-6 col-xs-6'  style='padding-left: 0;')
            div(class='input-group')
              input(
                type='text'
                id='room_code'
                name='room_code'
                placeholder='room code'
                class='form-control'
              )
              span(class='input-group-btn')
                button(type='button' name='join' class='btn btn-secondary btn-success' onclick="joinRoom('room_code', 'player_name')") join.
